.octodex{
    display: flex;
    list-style: none;
}
    
 span {
     color: gray;
 }  
 
 .authors {
     padding: 0;
 }

.authors li {
    display: flex;
    border: hidden;
    
}


.image-caption{
    display: flex;
}
.image-caption a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}


.octocat{
    margin: 10px;
}

.octocat img {
    width: 440px;
    border-radius: 5px;
    
}

.image-footer {
    display: flex;
    border-bottom: solid grey;
    border-width: thin;
    border-color: grey;
    justify-content: space-between;
}

.authors a img {
    width: 25px;
    display: flex;
    border: none;


}
.octocat img {
    border: 1px solid grey;
    padding: 5px;
}
    
    
